.hero{
  display: flex;
  background-size: cover;
  background-image: url("img/box-lake.JPG");
  height: 90vh;
  width: 100vw;
  display: center;
}

.hero-text{
  display: flex;
  color: rgb(236, 240, 4);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 0 0 10px black;
}

.about{
  display: flex;
  position: relative;
  background-size: contain;
  overflow: hidden;
  }

.bio{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
    z-index: 1;
  text-align: center;
}

.opa {
  opacity: .2;
}

.portfolio{
  height: 100vh;
  background-color: rgb(231, 231, 231);
}

.portfolio{
  display: flex;
  text-align: center;
}

.p-title{
  position: relative;
  top: 10vh; 
  text-align: center; 
}
