.header{
  display: flex;
  justify-content: space-between;
  height: 6vw;
  background-color: rgb(23, 23, 37);
  color: white;
  position: fixed;
  top: 0;
  flex-wrap: nowrap;
   }

.hero{
  display: flex;
  background-size: cover;
  background-image: url("img/box-lake.JPG");
  height: 90vh;
  width: 100vw;
  display: center;
}

.hero-text{
  display: flex;
  color: rgb(236, 240, 4);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 0 0 10 white;
}

.about{
  display: flex;
  background-size: contain;
  height: 100vh;
}

.bio{
  position: absolute;
  top: 30vh;
  left: 40vh;
  z-index: 1;
  text-align: center;
  text-shadow: 0 0 10 black;
}

.rotate-right{
  transform: rotate(90deg);
  height: 100vw;
}

.rotate-left{
  transform: rotate(270deg);
}

.opa {
  opacity: .3;
}

.portfolio{
  height: 100vh;
  background-color: rgb(183, 216, 216);
}

.portfolio{
  display: flex;
  text-align: center;
}

.p-title{
  position: relative;
  top: 10vh; 
  text-align: center; 
}

.c-img {
  height: 100vh;
}

.foot{
  display: flex;
  position: absolute;
  height: 30vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.foot-title{
  position: relative;
  left: 40vw;

}

.contacts{
  display: flex;
  justify-content: space-between;
  color: white;
}
